.foto {
    width: 290px;
    height: 290px;
    padding-left: 10%;
}

.main {
    margin-left: 100px;
    margin-right: 100px;
    background-image: url(/img/fondo\ texturizado.jpg);
    width: 86.7%;
}
.banner {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    width: 86.7%;
    height: 300px;
    margin-left: 100px;
    margin-right: 100px;
    background-image: url(/img/Fondo\ color.jpg);
    background-color: #7c2ea8;
background-image: linear-gradient(237deg, #7c2ea8 0%, #00c4cc 28%);

}

.line1 {
    display: flex;
    justify-content: center;
}

.line2 {
    display: flex;
    justify-content: center;
}